@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|IBM+Plex+Sans:400,700");

$body-background-color: #e0d7cd;
$body-size: 18px;

//$title-size: 6rem;
$display-font: "Playfair Display", "Georgia", serif;
$family-primary: "Georgia", serif;
$body-line-height: 1.8;
$logo-font: "IBM Plex Sans", "Helvetica", sans-serif;

$footer-background-color: darken($body-background-color, 2);

$blue: #6670a1;
$red: #E94E42;
$purple: #A16AF7;
$green: #CEEF58;
$orange: #EE8D58;
$yellow: #EFD748;
$cyan: #6CB9D9;